openapi: 3.1.0
info:
  title: Tournament activity onboard API
  description: CrunchDAO Tournament Platform API Endpoints
  version: v2
servers:
- url: http://api.hub.crunchdao.com
  description: Generated server url
security: []
tags:
- name: onboard
paths:
  /v1/onboard:
    x-service-id: account-service
    get:
      tags:
      - onboard
      summary: Show onboard process.
      operationId: show
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Onboard'
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - onboard
      summary: Update onboard process.
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardUpdateForm'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Onboard'
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    QuantClub:
      type: string
      enum:
      - NONE
      - BANDUNG
      - BENGALURU
      - DUBAI
      - LONDON
      - NEW_YORK
      - PARIS
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        login:
          type: string
    OnboardQuestionsStudyLevel:
      type: string
      enum:
      - UNDERGRADUATE
      - GRADUATE
      - PHD
    OnboardQuestionsExperienceWithData:
      type: string
      enum:
      - LESS_1_YEAR
      - BETWEEN_1_AND_3_YEARS
      - BETWEEN_4_AND_5_YEARS
      - MORE_THAN_5_YEARS
    OnboardUpdateForm:
      type: object
      properties:
        studyLevel:
          type: string
          enum:
          - UNDERGRADUATE
          - GRADUATE
          - PHD
        experienceWithData:
          type: string
          enum:
          - LESS_1_YEAR
          - BETWEEN_1_AND_3_YEARS
          - BETWEEN_4_AND_5_YEARS
          - MORE_THAN_5_YEARS
        workingInFinancialInstitution:
          type: boolean
        participationReason:
          type: string
          enum:
          - IMPROVE
          - GAIN
          - FUN
        isMachineLearningEngineer:
          type: boolean
        isQuant:
          type: boolean
        isEmployerEngagedInAlgorithmicTradingServices:
          type: boolean
        employerProvidedServices:
          type: string
          maxLength: 1024
          minLength: 0
        university:
          type: string
        quantClub:
          type: string
          enum:
          - NONE
          - BANDUNG
          - BENGALURU
          - DUBAI
          - LONDON
          - NEW_YORK
          - PARIS
        completed:
          type: boolean
      required:
      - completed
    OnboardQuestionsParticipationReason:
      type: string
      enum:
      - IMPROVE
      - GAIN
      - FUN
    Onboard:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        questions:
          $ref: '#/components/schemas/OnboardQuestions'
        completed:
          type: boolean
        completedAt:
          type: string
          format: date-time
    OnboardQuestions:
      type: object
      properties:
        studyLevel:
          $ref: '#/components/schemas/OnboardQuestionsStudyLevel'
        experienceWithData:
          $ref: '#/components/schemas/OnboardQuestionsExperienceWithData'
        workingInFinancialInstitution:
          type: boolean
        participationReason:
          $ref: '#/components/schemas/OnboardQuestionsParticipationReason'
        isMachineLearningEngineer:
          type: boolean
        isQuant:
          type: boolean
        isEmployerEngagedInAlgorithmicTradingServices:
          type: boolean
        employerProvidedServices:
          type: string
        university:
          type: string
        quantClub:
          $ref: '#/components/schemas/QuantClub'
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
      scheme: token
    accessToken:
      type: http
      in: header
      scheme: Bearer
externalDocs:
  description: docs.crunchdao.com
  url: https://docs.crunchdao.com
