openapi: 3.1.0
info:
  title: Tournament activity crunch-target API
  description: CrunchDAO Tournament Platform API Endpoints
  version: v2
servers:
- url: http://api.hub.crunchdao.com
  description: Generated server url
security: []
tags:
- name: crunch-target
paths:
  ? /v1/competitions/{competitionIdentifier}/rounds/{roundIdentifier}/phases/{phaseIdentifier}/crunches/{crunchIdentifier}/targets/{targetName}
  : x-service-id: competition-service
    get:
      tags:
      - crunch-target
      summary: Show a crunch target.
      operationId: getCrunchTarget
      parameters:
      - name: competitionIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roundIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phaseIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: crunchIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: targetName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrunchTarget'
    patch:
      tags:
      - crunch-target
      summary: Update a crunch target.
      operationId: updateCrunchTarget
      parameters:
      - name: competitionIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roundIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phaseIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: crunchIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: targetName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrunchTargetUpdateForm'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrunchTarget'
  ? /v1/competitions/{competitionIdentifier}/rounds/{roundIdentifier}/phases/{phaseIdentifier}/crunches/{crunchIdentifier}/targets
  : x-service-id: competition-service
    get:
      tags:
      - crunch-target
      summary: List crunch targets.
      operationId: listCrunchTargets
      parameters:
      - name: competitionIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roundIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: phaseIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: crunchIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CrunchTarget'
components:
  schemas:
    CrunchTarget:
      type: object
      properties:
        id:
          type: integer
          format: int64
        target:
          $ref: '#/components/schemas/Target'
        crunch:
          $ref: '#/components/schemas/Crunch'
        published:
          type: boolean
    CrunchTargetUpdateForm:
      type: object
      properties:
        published:
          type: boolean
    Crunch:
      type: object
      properties:
        id:
          type: integer
          format: int64
        phase:
          $ref: '#/components/schemas/Phase'
        number:
          type: integer
          format: int64
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        showRuns:
          type: boolean
        showMetricsDetails:
          type: boolean
        showRunLogs:
          type: boolean
        showScoresValue:
          type: boolean
        leaderboardSimilarityThreshold:
          type: number
          format: float
        published:
          type: boolean
        dataReleaseId:
          type: integer
          format: int64
        splits:
          type: array
          items:
            $ref: '#/components/schemas/CrunchSplit'
    PhaseSplit:
      type: object
      properties:
        key:
          type: object
          anyOf:
          - type: integer
            format: int64
          - type: string
          example: 1
    CrunchSplit:
      type: object
      properties:
        key:
          type: object
          anyOf:
          - type: integer
            format: int64
          - type: string
          example: 1
    Unit:
      type: object
      properties:
        prefix:
          type: string
          description: String to show before the value.
        suffix:
          type: string
          description: String to show after the value.
        scale:
          type: integer
          format: int32
          description: Number of digits to keep after the comma.
    LeaderboardRankOrder:
      type: string
      enum:
      - DESCENDING
      - ASCENDING
    PhaseType:
      type: string
      enum:
      - SUBMISSION
      - OUT_OF_SAMPLE
    Phase:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          $ref: '#/components/schemas/PhaseType'
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        dataReleaseId:
          type: integer
          format: int64
        localDataReleaseId:
          type: integer
          format: int64
        cloudCredits:
          anyOf:
          - $comment: Seconds
            example: '60'
          - format: duration
            $anchor: https://en.wikipedia.org/wiki/ISO_week_date
            $comment: ISO 8601 Duration
            example: PT1M
        perCrunchWeight:
          type: number
          format: float
        autoCompute:
          type: boolean
        runDisabled:
          type: boolean
        showPositions:
          type: boolean
        showProjectNames:
          type: boolean
        runDeterminismCheckEnabled:
          type: boolean
        showOnlyRewardedProjectsDefault:
          type: boolean
        splits:
          type: array
          items:
            $ref: '#/components/schemas/PhaseSplit'
    Target:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: Slug-like name.
        displayName:
          type: string
          description: Display name for the UI.
        weight:
          type: number
          format: float
          description: Weight of the target in the global leaderboard.
        weightedMeanUnit:
          $ref: '#/components/schemas/Unit'
          description: Display name for the UI of the weighted mean column.
        primary:
          type: boolean
          description: Is the target displayed on the home page?
        virtual:
          type: boolean
          description: Is the target based on other targets.
        rankOrder:
          $ref: '#/components/schemas/LeaderboardRankOrder'
          description: Orders of the position on the leaderboard.
        weightedMeanDisplayUnit:
          type: string
          deprecated: true
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
      scheme: token
    accessToken:
      type: http
      in: header
      scheme: Bearer
externalDocs:
  description: docs.crunchdao.com
  url: https://docs.crunchdao.com
