openapi: 3.2.0
info:
  title: Tournament Upload API
  description: CrunchDAO Tournament Platform API Endpoints
  version: v2
servers:
- url: http://api.hub.crunchdao.com
  description: Generated server url
security: []
tags:
- name: Upload
paths:
  /v1/uploads:
    x-service-id: competition-service
    post:
      tags:
      - Upload
      summary: Create an upload
      operationId: createUpload
      parameters:
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadCreateForm'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDto'
      security:
      - accessToken: []
      - apiKey: []
  /v1/uploads/{uploadId}/complete:
    x-service-id: competition-service
    post:
      tags:
      - Upload
      summary: Complete an upload
      operationId: completeUpload
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDto'
      security:
      - accessToken: []
      - apiKey: []
  /v1/uploads/{uploadId}/chunks/{chunkNumber}/confirm:
    x-service-id: competition-service
    post:
      tags:
      - Upload
      summary: Confirm an upload chunk
      operationId: confirmUploadChunk
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: chunkNumber
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadChunkCompleteForm'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadChunkDto'
      security:
      - accessToken: []
      - apiKey: []
  /v1/uploads/{uploadId}/abort:
    x-service-id: competition-service
    post:
      tags:
      - Upload
      summary: Abort an upload
      operationId: abortUpload
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDto'
      security:
      - accessToken: []
      - apiKey: []
  /v1/uploads/{uploadId}:
    x-service-id: competition-service
    get:
      tags:
      - Upload
      summary: Show an upload
      operationId: getUpload
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDto'
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Upload
      summary: Delete an upload
      operationId: deleteUpload
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '202':
          description: Accepted
      security:
      - accessToken: []
      - apiKey: []
  /v1/uploads/{uploadId}/chunks/{chunkNumber}/request:
    x-service-id: competition-service
    get:
      tags:
      - Upload
      summary: Get request information for an upload chunk
      operationId: getUploadChunkUri
      parameters:
      - name: uploadId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      - name: chunkNumber
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: pushToken
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: X-Run-Token
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadRequest'
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    PresignedUploadRequest:
      type: object
      properties:
        method:
          type: string
          enum:
          - POST
          - PUT
        url:
          type: string
          format: uri
        headers:
          type: object
          additionalProperties:
            type: string
    UploadChunkCompleteForm:
      type: object
      properties:
        hash:
          type: string
      required:
      - hash
    UploadCreateForm:
      type: object
      properties:
        name:
          type: string
        size:
          type: integer
          format: int64
        encrypted:
          type: boolean
        preferredChunkSize:
          type: integer
          format: int64
      required:
      - encrypted
      - name
      - size
    UploadChunkDto:
      type: object
      properties:
        number:
          type: integer
          format: int64
        offset:
          type: integer
          format: int64
        size:
          type: integer
          format: int64
        last:
          type: boolean
        completed:
          type: boolean
        completedAt:
          type: string
          format: date-time
    UploadProvider:
      type: string
      enum:
      - AWS_S3
    UploadDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        size:
          type: integer
          format: int64
        encrypted:
          type: boolean
        mediaType:
          type: string
        chunked:
          type: boolean
        status:
          $ref: '#/components/schemas/UploadStatus'
        statusMessage:
          type: string
        provider:
          $ref: '#/components/schemas/UploadProvider'
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        chunks:
          type: array
          items:
            $ref: '#/components/schemas/UploadChunkDto'
    UploadStatus:
      type: string
      enum:
      - PENDING
      - IN_PROGRESS
      - SUCCEEDED
      - FAILED
      - EXPIRED
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
      scheme: token
    accessToken:
      type: http
      in: header
      scheme: Bearer
externalDocs:
  description: docs.crunchdao.com
  url: https://docs.crunchdao.com
