openapi: 3.2.0
info:
  title: Tournament Legal API
  description: CrunchDAO Tournament Platform API Endpoints
  version: v2
servers:
- url: http://api.hub.crunchdao.com
  description: Generated server url
security: []
tags:
- name: Legal
paths:
  /v1/legal/accept:
    x-service-id: account-service
    post:
      tags:
      - Legal
      summary: Accept current legal version
      operationId: acceptLegal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalDto'
      security:
      - accessToken: []
      - apiKey: []
  /v1/legal:
    x-service-id: account-service
    get:
      tags:
      - Legal
      summary: Get current legal information
      operationId: getLegal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalDto'
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    LegalDto:
      type: object
      properties:
        currentVersion:
          type: integer
          format: int32
        acceptedVersion:
          type: integer
          format: int32
        acceptedAt:
          type: string
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      name: apiKey
      in: query
      scheme: token
    accessToken:
      type: http
      in: header
      scheme: Bearer
externalDocs:
  description: docs.crunchdao.com
  url: https://docs.crunchdao.com
