{"openapi":"3.1.0","info":{"title":"Tournament API","description":"CrunchDAO Tournament Platform API Endpoints","version":"v2"},"externalDocs":{"description":"docs.crunchdao.com","url":"https://docs.crunchdao.com"},"servers":[{"url":"http://api.hub.crunchdao.com","description":"Generated server url"}],"security":[],"tags":[],"paths":{"/v2/problems":{"get":{"tags":["problem"],"summary":"List problems of a user.","operationId":"list","parameters":[{"name":"resolved","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Problem"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"put":{"tags":["problem"],"summary":"Create a problem for a user.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/webhook/privy":{"post":{"tags":["zzz-webhook"],"operationId":"privyWebhook","parameters":[{"name":"svix-id","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"svix-timestamp","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"svix-signature","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"account-service"},"/v3/users/{userIdentifier}/avatar":{"get":{"tags":["avatar"],"summary":"Redirect to a user's avatar.","operationId":"redirect","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"temporaryRedirect","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"302":{"description":"Found"}}},"post":{"tags":["avatar"],"summary":"Upload a user avatar.","operationId":"upload","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"avatarFile":{"type":"file"}},"required":["avatarFile"]}}}},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"account-service"},"/v3/users/@me/connections/twitter/validate":{"post":{"tags":["connection"],"summary":"Validate the LinkedIn connection.","operationId":"refreshTwitterConnection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections/linkedin/validate":{"post":{"tags":["connection"],"summary":"Validate the LinkedIn connection.","operationId":"refreshLinkedinConnection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections/kaggle":{"post":{"tags":["connection"],"summary":"Create a Kaggle connection.","operationId":"createKaggleConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionKaggleCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections/google/validate":{"post":{"tags":["connection"],"summary":"Validate the Google connection.","operationId":"refreshGoogleConnection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections/github/validate":{"post":{"tags":["connection"],"summary":"Validate the LinkedIn connection.","operationId":"refreshGithubConnection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections/discord/validate":{"post":{"tags":["connection"],"summary":"Validate the Discord connection.","operationId":"refreshDiscordConnection","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/auth/register":{"post":{"tags":["auth"],"summary":"Create an account.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRegisterForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResult"}}}}}},"x-service-id":"account-service"},"/v3/auth/register/cancel":{"post":{"tags":["auth"],"summary":"Cancel the registration.","operationId":"cancelRegistration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthCancelRegisterForm"}}},"required":true},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"account-service"},"/v3/auth/impersonate":{"post":{"tags":["auth"],"summary":"Impersonate a user on the platform only.","operationId":"impersonate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthImpersonateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpersonateResult"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/auth/email-validation":{"post":{"tags":["auth"],"summary":"Test if an email is allowed for registration.","operationId":"isEmailValid","parameters":[{"name":"address","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}}}},"x-service-id":"account-service"},"/v2/problems/{problemId}/resolve":{"post":{"tags":["problem"],"summary":"Resolve a problem.","operationId":"resolve","parameters":[{"name":"problemId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemResolveForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"x-service-id":"account-service"},"/v2/auth/oauth2/token":{"post":{"tags":["auth:oauth"],"operationId":"consume","parameters":[{"name":"grant_type","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}},{"name":"client_secret","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"code","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizedToken"}}}}}},"x-service-id":"account-service"},"/v2/auth/oauth2/authorize":{"post":{"tags":["auth:oauth"],"operationId":"authorize","parameters":[{"name":"response_type","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}},{"name":"redirect_uri","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"scope","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizedCodeDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/auth/api-keys":{"get":{"tags":["auth:api-key"],"summary":"List your API Keys.","operationId":"list_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["auth:api-key"],"summary":"Create an API Key.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/auth/api-keys/{apiKeyId}/regenerate":{"post":{"tags":["auth:api-key"],"summary":"Regenerate an API Key.","operationId":"refresh","parameters":[{"name":"apiKeyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/users/{userIdentifier}/banner":{"get":{"tags":["avatar"],"summary":"Redirect to a user's banner.","operationId":"redirect_1","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"302":{"description":"Found"}}},"post":{"tags":["avatar"],"summary":"Upload a user banner.","operationId":"upload_1","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"file"}},"required":["file"]}}}},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"account-service"},"/v1/universities/refresh":{"post":{"tags":["country"],"summary":"Refresh the university database.","operationId":"refreshUniversities","responses":{"200":{"description":"OK"}}},"x-service-id":"account-service"},"/v1/onboard":{"get":{"tags":["onboard"],"summary":"Show onboard process.","operationId":"show","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Onboard"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["onboard"],"summary":"Update onboard process.","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Onboard"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/legal/accept":{"post":{"tags":["legal"],"summary":"Accept current legal version.","operationId":"acceptLegal","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/feedbacks":{"post":{"tags":["feedback"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeedbackCreateForm"}}},"required":true},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"account-service"},"/v3/users/@me/connections/{type}":{"delete":{"tags":["connection"],"summary":"Remove a connection.","operationId":"deleteConnection","parameters":[{"name":"type","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","enum":["DISCORD","TWITTER","GITHUB","KAGGLE","REDDIT","LINKEDIN","GOOGLE"]}}],"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"patch":{"tags":["connection"],"summary":"Update a connection.","operationId":"updateConnection","parameters":[{"name":"type","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","enum":["DISCORD","TWITTER","GITHUB","KAGGLE","REDDIT","LINKEDIN","GOOGLE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/users/{userIdOrLogin}":{"get":{"tags":["user"],"operationId":"show_1","parameters":[{"name":"userIdOrLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"patch":{"tags":["user"],"operationId":"update_1","parameters":[{"name":"userIdOrLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullUser"}}}}}},"x-service-id":"account-service"},"/v2/users/@me":{"get":{"tags":["user"],"operationId":"show_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullUser"}}}}},"deprecated":true,"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["user"],"operationId":"destroy","parameters":[{"name":"recaptchaResponse","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullUser"}}}}},"deprecated":true,"security":[{"accessToken":[]}]},"patch":{"tags":["user"],"operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullUser"}}}}},"deprecated":true,"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/users/{userIdentifier}/profile":{"get":{"tags":["user:profile","user"],"operationId":"showUserProfile","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}}},"patch":{"tags":["user:profile","user"],"operationId":"updateUserProfile","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}}}},"x-service-id":"account-service"},"/v3/users/{userIdentifier}/connections":{"get":{"tags":["connection"],"summary":"List connected connections.","operationId":"index","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/{userIdentifier}/connections/{connectionType}":{"get":{"tags":["connection"],"summary":"List connected connections.","operationId":"index_1","parameters":[{"name":"userIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"connectionType","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","enum":["DISCORD","TWITTER","GITHUB","KAGGLE","REDDIT","LINKEDIN","GOOGLE"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Connection"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v3/users/@me/connections":{"get":{"tags":["connection"],"summary":"List available connections.","operationId":"listConnections","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Connection"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/users":{"get":{"tags":["user"],"operationId":"index_2","parameters":[{"name":"simple","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"x-service-id":"account-service"},"/v2/users/~":{"get":{"tags":["user"],"summary":"Show multiple users.","operationId":"batchShowUserByIdentifier","parameters":[{"name":"identifier","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}}},"x-service-id":"account-service"},"/v2/users/mapping":{"get":{"tags":["user"],"summary":"Get a login-to-id mapping.","operationId":"showMapping","parameters":[{"name":"reverse","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"x-service-id":"account-service"},"/v2/problems/{problemId}":{"get":{"tags":["problem"],"summary":"Show a problem.","operationId":"show_3","parameters":[{"name":"problemId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"tags":["problem"],"summary":"Delete a problem.","operationId":"delete","parameters":[{"name":"problemId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/avatar/{idOrLogin}":{"get":{"tags":["avatar"],"operationId":"showGravatarAvatar","parameters":[{"name":"idOrLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"302":{"description":"Found"}}},"x-service-id":"account-service"},"/v2/auth/random-login":{"get":{"tags":["auth"],"summary":"Generate a random login.","operationId":"randomLogin","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v2/auth/oauth2/user":{"get":{"tags":["auth:oauth"],"operationId":"info","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthUserInfo"}}}}},"security":[{"accessToken":[]}]},"x-service-id":"account-service"},"/v2/auth/oauth2/registered-clients/{clientId}":{"get":{"tags":["auth:oauth"],"operationId":"showRegisteredClient","parameters":[{"name":"clientId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisteredClient"}}}}}},"x-service-id":"account-service"},"/v2/auth/api-keys/{apiKeyId}":{"get":{"tags":["auth:api-key"],"summary":"Show an API Key.","operationId":"show_4","parameters":[{"name":"apiKeyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["auth:api-key"],"summary":"Delete an API Key.","operationId":"delete_1","parameters":[{"name":"apiKeyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/universities":{"get":{"tags":["country"],"summary":"List all universities.","operationId":"listUniversities","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/University"}}}}}}},"x-service-id":"account-service"},"/v1/universities/names":{"get":{"tags":["country"],"summary":"List all universities' name.","operationId":"listUniversitiesName","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"x-service-id":"account-service"},"/v1/todos":{"get":{"tags":["todo"],"summary":"Show todos.","operationId":"index_3","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountTasks"}}}}}},"x-service-id":"account-service"},"/v1/legal":{"get":{"tags":["legal"],"summary":"Get current legal information.","operationId":"getLegal","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"account-service"},"/v1/countries":{"get":{"tags":["country"],"summary":"List all countries.","operationId":"list_2","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}}}}}},"x-service-id":"account-service"},"/v1/admin/users":{"get":{"tags":["zzz-admin"],"summary":"Search users.","operationId":"search","parameters":[{"name":"query","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deleted","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["EARLIEST_CREATED","RECENTLY_CREATED"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"}}}}}},"x-service-id":"account-service"},"/debug/auth/authorities":{"get":{"tags":["zzz-debug"],"summary":"Show principal authorities.","operationId":"list_3","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"x-service-id":"account-service"},"/.well-known/jwks.json":{"get":{"tags":["auth"],"summary":"Public key to validate the signature of a signed JWT.","operationId":"login","responses":{"200":{"description":"OK"}}},"x-service-id":"account-service"},"/v2/users/{userLogin}/activities/weekly/{week}":{"get":{"tags":["activity"],"summary":"Show a user activities at a week.","operationId":"listAtDate","parameters":[{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"week","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/CompetitionPush"},{"$ref":"#/components/schemas/CompetitionRun"},{"$ref":"#/components/schemas/DiscordJoinActivity"},{"$ref":"#/components/schemas/DiscordMessageActivity"}]}}}}}}},"x-service-id":"activity-service"},"/v2/users/{userLogin}/activities/weekly/summary":{"get":{"tags":["activity"],"summary":"Show a weekly user activity summary.","operationId":"ShowWeeklySummary","parameters":[{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"end","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"ignoreZeros","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}}}}},"x-service-id":"activity-service"},"/v2/users/{userLogin}/activities/daily/{date}":{"get":{"tags":["activity"],"summary":"Show a user activities at a date.","operationId":"listAtDate_1","parameters":[{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"date","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/CompetitionPush"},{"$ref":"#/components/schemas/CompetitionRun"},{"$ref":"#/components/schemas/DiscordJoinActivity"},{"$ref":"#/components/schemas/DiscordMessageActivity"}]}}}}}}},"x-service-id":"activity-service"},"/v2/users/{userLogin}/activities/daily/summary":{"get":{"tags":["activity"],"summary":"Show a daily user activity summary.","operationId":"showDailySummary","parameters":[{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"start","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date"}},{"name":"end","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date"}},{"name":"ignoreZeros","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}}}}},"x-service-id":"activity-service"},"/v1/runner/runs/{runId}/error":{"put":{"tags":["runner"],"summary":"Report a run's trace.","operationId":"reportRunnerError","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"X-Run-Token","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunnerReportErrorForm"}}},"required":true},"responses":{"200":{"description":"OK"}}},"x-service-id":"competition-service"},"/v4/projects/~":{"post":{"tags":["project"],"summary":"Find project by ID in batch.","operationId":"batchFindProjectById","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleProject"}}}}}}},"x-service-id":"competition-service"},"/v4/projects/search":{"post":{"tags":["project"],"summary":"Search projects by filters","operationId":"searchProjectV4","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectsSearchCriteria"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageProjectView"}}}}}},"x-service-id":"competition-service"},"/v4/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/submissions":{"get":{"tags":["submission"],"summary":"List submissions.","operationId":"listSubmissionsV4","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"message","in":"query","description":"Filter on the message. Allow for a pattern (%).","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter on the message. Allow for a pattern (%)."}},{"name":"type","in":"query","description":"Filter for submission with a specific type. `NOTEBOOK` are converted to `CODE`, so will return nothing.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter for submission with a specific type. `NOTEBOOK` are converted to `CODE`, so will return nothing.","enum":["CODE","NOTEBOOK","PREDICTION"]}},{"name":"valid","in":"query","description":"Filter for valid submissions. Pending submissions are ignored.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter for valid submissions. Pending submissions are ignored."}},{"name":"gpuRequirement","in":"query","description":"Filter for gpu requirement.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter for gpu requirement.","enum":["OPTIONAL","RECOMMENDED","REQUIRED"]}},{"name":"hasModel","in":"query","description":"Filter for submissions with a model.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter for submissions with a model."}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageSubmission"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["submission"],"summary":"Create a submission.","operationId":"createSubmissionV4","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmissionCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Submission"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v4/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/selection":{"get":{"tags":["project"],"summary":"Show a project selection.","operationId":"getProjectSelectionV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundNumber","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSelection"}}}}}},"post":{"tags":["project"],"summary":"Edit a project selection.","operationId":"updateProjectSelectionV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundNumber","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSelectionUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSelection"}}}}}},"x-service-id":"competition-service"},"/v3/competitions/{competitionIdentifier}/projects/{userLogin}":{"get":{"tags":["project"],"summary":"List the projects of a user.","operationId":"listProjectsV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["project"],"summary":"Create a project.","operationId":"createProjectV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v3/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/tokens":{"post":{"tags":["project:token"],"summary":"Create a temporary project token.","operationId":"createProjectToken","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectTokenUpgradeForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectToken"}}}}}},"x-service-id":"competition-service"},"/v3/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/select":{"post":{"tags":["project"],"summary":"Select a project for the leaderboard.","operationId":"selectProjectV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v3/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/runs":{"get":{"tags":["run"],"summary":"List runs.","operationId":"listRunsV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"managed","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}},{"name":"submissionNumber","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Run"}}}}}},"security":[{"apiKey":[]}]},"post":{"tags":["run"],"summary":"Create a run.","operationId":"createRunV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Run"}}}}},"security":[{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/project-tokens/upgrade":{"post":{"tags":["project:token"],"summary":"Upgrade a temporary project token to a permanent token.","operationId":"upgradeProjectToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectTokenUpgradeForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectToken"}}}}}},"x-service-id":"competition-service"},"/v2/libraries/requirements/freeze/imported":{"post":{"tags":["library"],"summary":"Map imports to a frozen requirements.txt file.","operationId":"freezeImportedRequirementsWithMultipleLanguage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"deprecated":true},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/timeline/events":{"get":{"tags":["timeline"],"summary":"List a timeline events.","operationId":"listCompetitionTimelineEvents","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TimelineEvent"}}}}}}},"post":{"tags":["timeline"],"summary":"Create a timeline event.","operationId":"createCompetitionTimelineEvent","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineEventCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineEvent"}}}}}},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/rounds/{roundIdentifier}/phases":{"get":{"tags":["phase"],"summary":"List phases.","operationId":"listPhases","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Phase"}}}}}}},"post":{"tags":["phase"],"summary":"Create a phase.","operationId":"createPhase","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhaseCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Phase"}}}}}},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/rounds/{roundIdentifier}/phases/{phaseIdentifier}/crunches":{"get":{"tags":["crunch"],"summary":"List crunches.","operationId":"listCrunches","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"phaseIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Crunch"}}}}}}},"post":{"tags":["crunch"],"summary":"Create a crunch.","operationId":"createCrunch","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"roundIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"phaseIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrunchCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Crunch"}}}}}},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/quickstarters":{"get":{"tags":["quickstarter"],"summary":"List quickstarters of a competition.","operationId":"listCompetitionQuickstarters","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Quickstarter"}}}}}}},"post":{"tags":["quickstarter"],"summary":"Create a quickstarter for a competition.","operationId":"createCompetitionQuickstarter","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickstarterCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quickstarter"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/quickstarters/~":{"post":{"tags":["quickstarter"],"summary":"Update the quickstarter library.","operationId":"batchCreateQuickstarter","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchQuickstarterCreateForm"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickstarterImporterDelta"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/quickstarters/{quickstarterName}":{"get":{"tags":["quickstarter"],"summary":"Show a quickstarter of a competition.","operationId":"getCompetitionQuickstarter","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"quickstarterName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quickstarter"}}}}}},"post":{"tags":["quickstarter"],"summary":"Update a quickstarter of a competition.","operationId":"updateCompetitionQuickstarter","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"quickstarterName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickstarterUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Quickstarter"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["quickstarter"],"summary":"Delete a quickstarter of a competition.","operationId":"deleteCompetitionQuickstarter","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"quickstarterName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/leaderboards":{"get":{"tags":["leaderboard"],"summary":"List leaderboards.","operationId":"listLeaderboardsV2","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardDefinition"}}}}}},"deprecated":true},"post":{"tags":["leaderboard"],"summary":"Update leaderboards.","operationId":"updateLeaderboard","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaderboardUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/data-releases":{"get":{"tags":["data"],"summary":"List data releases.","operationId":"listDataReleases","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDataRelease"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["data"],"summary":"Create a data releases.","operationId":"createDataRelease","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataReleaseCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataRelease"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/data-releases/{dataReleaseNumber}/resolve/{targetName}":{"post":{"tags":["data"],"summary":"Resolve a data release's Y.","operationId":"resolveDataRelease","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"dataReleaseNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"targetName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataReleaseResolveForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataRelease"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/uploads":{"post":{"tags":["upload"],"summary":"Create an upload.","operationId":"createUpload","parameters":[{"name":"pushToken","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"X-Run-Token","in":"header","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/uploads/{uploadId}/complete":{"post":{"tags":["upload"],"summary":"Complete an upload.","operationId":"completeUpload","parameters":[{"name":"uploadId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"pushToken","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"X-Run-Token","in":"header","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/uploads/{uploadId}/chunks/{chunkNumber}/confirm":{"post":{"tags":["upload"],"summary":"Confirm an upload chunk.","operationId":"confirmUploadChunk","parameters":[{"name":"uploadId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"chunkNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"pushToken","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"X-Run-Token","in":"header","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadChunkCompleteForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadChunkDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/uploads/{uploadId}/abort":{"post":{"tags":["upload"],"summary":"Abort an upload.","operationId":"abortUpload","parameters":[{"name":"uploadId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}},{"name":"pushToken","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"X-Run-Token","in":"header","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadDto"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/security-credentials/tls/issue-certificate":{"post":{"tags":["security-credentials"],"summary":"Show the authority certificate.","operationId":"issueTlsCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueTlsCertificateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuedTlsCertificate"}}}}}},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/slices":{"get":{"tags":["season:slice"],"operationId":"listSeasonSlices","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Slice"}}}}}}},"post":{"tags":["season:slice"],"operationId":"createSeasonSlice","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Slice"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/slices/~/import/markdown":{"post":{"tags":["season:slice"],"operationId":"importSeasonSlicesFromMarkdown","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceMarkdownImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/slices/~/import/gitbook":{"post":{"tags":["season:slice"],"operationId":"importSeasonSlicesFromGitBook","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceGitBookImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/pitches/{pitchName}/slices":{"get":{"tags":["pitch:slice"],"operationId":"listPitchSlices","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"pitchName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Slice"}}}}}}},"post":{"tags":["pitch:slice"],"operationId":"createPitchSlice","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"pitchName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Slice"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/pitches/{pitchName}/slices/~/import/markdown":{"post":{"tags":["pitch:slice"],"operationId":"importPitchSlicesFromMarkdown","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"pitchName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceMarkdownImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/seasons/{seasonNumber}/pitches/{pitchName}/slices/~/import/gitbook":{"post":{"tags":["pitch:slice"],"operationId":"importPitchSlicesFromGitBook","parameters":[{"name":"seasonNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"pitchName","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceGitBookImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/runtime-access-requests":{"get":{"tags":["runtime:access-request"],"summary":"List runtime access requests.","operationId":"listRuntimeAccessRequests","parameters":[{"name":"verdict","in":"query","description":"Filter by verdict. Include all if not specified.","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/RuntimeAccessRequestVerdict","description":"Filter by verdict. Include all if not specified."}},{"name":"sort","in":"query","description":"Sort results.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort results.","enum":["RECENT","OLDEST"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRuntimeAccessRequest"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["runtime:access-request"],"summary":"Create a runtime access request.","operationId":"createRuntimeAccessRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequestCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequest"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/runtime-access-requests/{runtimeAccessRequestId}/reject":{"post":{"tags":["runtime:access-request"],"summary":"Reject a runtime access request.","operationId":"rejectRuntimeAccessRequest","parameters":[{"name":"runtimeAccessRequestId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequestRejectForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequest"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/runtime-access-requests/{runtimeAccessRequestId}/approve":{"post":{"tags":["runtime:access-request"],"summary":"Approve a runtime access request.","operationId":"approveRuntimeAccessRequest","parameters":[{"name":"runtimeAccessRequestId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequestApproveForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeAccessRequest"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/runner/runs/{runId}/traces":{"post":{"tags":["runner"],"summary":"Collect the traces.","operationId":"collectRunnerTraces","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"X-Run-Token","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunnerCollectTracesForm"}}},"required":true},"responses":{"202":{"description":"Accepted"}}},"x-service-id":"competition-service"},"/v1/runner/runs/{runId}/trace":{"post":{"tags":["runner"],"operationId":"reportRunnerTrace","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"X-Run-Token","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegacyRunnerReportTraceForm"}}},"required":true},"responses":{"200":{"description":"OK"}},"deprecated":true},"x-service-id":"competition-service"},"/v1/runner/runs/{runId}/result":{"post":{"tags":["runner"],"summary":"Submit a run's result.","operationId":"submitRunnerPrediction","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}},{"name":"X-Run-Token","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunnerSubmitForm"}}},"required":true},"responses":{"200":{"description":"OK"}}},"x-service-id":"competition-service"},"/v1/runner/runs/{runId}/current":{"post":{"tags":["runner"],"operationId":"reportRunnerCurrent","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object"}}},"required":true},"responses":{"200":{"description":"OK"}},"deprecated":true},"x-service-id":"competition-service"},"/v1/organizers":{"get":{"tags":["organizer"],"summary":"List organizers with some filters.","operationId":"listOrganizer","parameters":[{"name":"name","in":"query","description":"Filter on name and display name. Allow for a pattern (%).","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter on name and display name. Allow for a pattern (%)."}},{"name":"member","in":"query","description":"Filter for organizers where the currnet user is a member of.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter for organizers where the currnet user is a member of."}},{"name":"sort","in":"query","description":"Sort competitions.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort competitions.","enum":["RECENT","OLDEST"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageOrganizer"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["organizer"],"summary":"Create an organizer.","operationId":"createOrganizer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizerCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organizer"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/organizers/{organizerIdentifier}/members":{"get":{"tags":["organizer"],"summary":"List an organizer's members.","operationId":"listOrganizerMembers","parameters":[{"name":"organizerIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"style":"form","explode":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageOrganizerMember"}}}}}},"post":{"tags":["organizer"],"summary":"Add a member to an organizer.","operationId":"createOrganizerMember","parameters":[{"name":"organizerIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizerMemberCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizerMember"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/organizer-applications":{"get":{"tags":["organizer:application"],"summary":"List organizer applications.","operationId":"listOrganizerApplications","parameters":[{"name":"reviewStatus","in":"query","description":"Filter applications with specific review status.","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/OrganizerApplicationReviewStatus","description":"Filter applications with specific review status."}},{"name":"potentialSpam","in":"query","description":"Filter applications with that are potential spam.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","description":"Filter applications with that are potential spam."}},{"name":"sort","in":"query","description":"Sort applications.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort applications.","enum":["RECENT","OLDEST"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageOrganizerApplication"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["organizer:application"],"summary":"Create an organizer application.","operationId":"createOrganizerApplication","parameters":[{"name":"reCaptchaResponse","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizerApplicationCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizerApplication"}}}}}},"x-service-id":"competition-service"},"/v1/news":{"get":{"tags":["news"],"summary":"List news.","operationId":"listNews","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/News"}}}}}},"deprecated":true},"post":{"tags":["news"],"summary":"Create a news.","operationId":"createNews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewsCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/News"}}}}}},"x-service-id":"competition-service"},"/v1/library-requests":{"get":{"tags":["library:request"],"summary":"List library requests.","operationId":"listLibraryRequests","parameters":[{"name":"verdict","in":"query","description":"Filter by verdict. Include all if not specified.","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/LibraryRequestVerdict","description":"Filter by verdict. Include all if not specified."}},{"name":"name","in":"query","description":"Filter on both name and alias. Allow for a pattern (%).","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter on both name and alias. Allow for a pattern (%)."}},{"name":"gpuRequirement","in":"query","description":"Filter for GPU requirement.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Filter for GPU requirement.","enum":["OPTIONAL","RECOMMENDED","REQUIRED"]}},{"name":"sort","in":"query","description":"Sort results.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort results.","enum":["RECENT","OLDEST"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageLibraryRequest"}}}}}},"post":{"tags":["library:request"],"summary":"Create a library request.","operationId":"createLibraryRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequestCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequest"}}}}}},"x-service-id":"competition-service"},"/v1/library-requests/{libraryRequestId}/reject":{"post":{"tags":["library:request"],"summary":"Reject a library request.","operationId":"rejectLibraryRequest","parameters":[{"name":"libraryRequestId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequestRejectForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequest"}}}}}},"x-service-id":"competition-service"},"/v1/library-requests/{libraryRequestId}/approve":{"post":{"tags":["library:request"],"summary":"Approve a library request.","operationId":"approveLibraryRequest","parameters":[{"name":"libraryRequestId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequestApproveForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LibraryRequest"}}}}}},"x-service-id":"competition-service"},"/v1/libraries/requirements/freeze/imported":{"post":{"tags":["library"],"summary":"Map imports to a frozen requirements.txt file.","operationId":"freezeImportedRequirements","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string"}}}}},"deprecated":true},"x-service-id":"competition-service"},"/v1/global-leaderboards/~/compute":{"post":{"tags":["global-leaderboard"],"summary":"Compute some global leaderboards.","operationId":"createGlobalLeaderboards","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalLeaderboardComputeForm"}}},"required":true},"responses":{"200":{"description":"OK"}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/teams":{"get":{"tags":["team"],"summary":"List teams.","operationId":"listTeams","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Team"}}}}}}},"post":{"tags":["team"],"summary":"Create a team.","operationId":"createTeam","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Team"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/teams/{teamIdentifier}/referendums":{"get":{"tags":["team:referendum"],"summary":"List referendums.","operationId":"listReferendums","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"teamIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Referendum"}}}}}}},"post":{"tags":["team:referendum"],"summary":"Create a referendums.","operationId":"createReferendum","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"teamIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferendumCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Referendum"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/teams/{teamIdentifier}/referendums/{referendumNumber}/vote":{"post":{"tags":["team:referendum"],"summary":"Vote for a referendum.","operationId":"voteReferendum","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"teamIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"referendumNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferendumVoteCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferendumVote"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/teams/{teamIdentifier}/referendums/ask-to-join":{"post":{"tags":["team:referendum"],"summary":"Create a referendum asking to join the team.","operationId":"askToJoinTeam","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"teamIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Referendum"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/slices":{"get":{"tags":["competition:slice"],"operationId":"listCompetitionSlices","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Slice"}}}}}}},"post":{"tags":["competition:slice"],"operationId":"createCompetitionSlice","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Slice"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/slices/~/import/markdown":{"post":{"tags":["competition:slice"],"operationId":"importCompetitionSlicesFromMarkdown","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"locale","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ENGLISH","CHINESE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceMarkdownImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/slices/~/import/gitbook":{"post":{"tags":["competition:slice"],"operationId":"importCompetitionSlicesFromGitBook","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SliceGitBookImportForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/session":{"post":{"tags":["competition"],"summary":"Update a competition session.","operationId":"updateCompetitionSession","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompetitionSessionUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Competition"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/rules/accept":{"post":{"tags":["rule"],"summary":"Accept rules.","operationId":"acceptRules","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAcceptForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleAgreement"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/rounds":{"get":{"tags":["round"],"summary":"List rounds.","operationId":"listRounds","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Round"}}}}}}},"post":{"tags":["round"],"summary":"Create a round.","operationId":"createRound","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoundCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Round"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/security-credentials":{"post":{"tags":["security-credentials"],"summary":"Create a security credentials.","operationId":"createSecurityCredentials","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityCredentialsCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityCredentials"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}/deployments/sign":{"post":{"tags":["deployment"],"summary":"Get the signature for a deployment.","operationId":"signForDeployment","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentSignForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignedDeployment"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/payouts":{"get":{"tags":["payout"],"summary":"List a competition's payouts.","operationId":"listCompetitionPayouts","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Payout"}}}}}}},"post":{"tags":["payout"],"summary":"Create a competition payout.","operationId":"createCompetitionPayout","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payout"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/payouts/{payoutId}/compute-from-bounties":{"post":{"tags":["payout"],"summary":"Compute the payout from the bounties.","operationId":"computeCompetitionPayoutFromBounties","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"payoutId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payout"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/payouts/checkpoint/{payoutNumber}/claim":{"post":{"tags":["payout"],"summary":"Update a competition payout.","operationId":"claimCompetitionPayout","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"payoutNumber","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayoutClaimForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Payout"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/news":{"get":{"tags":["news"],"summary":"List news.","operationId":"listCompetitionNews","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"mix","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/News"}}}}}},"deprecated":true},"post":{"tags":["news"],"summary":"Create a news.","operationId":"createCompetitionNews","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewsCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/News"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/chart-definitions":{"get":{"tags":["chart-definition"],"summary":"List all chart definitions for a competition.","operationId":"listChartDefinitions","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChartDefinition"}}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["chart-definition"],"summary":"Create a chart definition.","operationId":"createChartDefinition","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartDefinitionCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChartDefinition"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/bounties":{"get":{"tags":["bounty"],"summary":"List bounties.","operationId":"listBounties","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"crunchId","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bounty"}}}}}}},"post":{"tags":["bounty"],"summary":"Create a bounty.","operationId":"createBounty","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BountyCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bounty"}}}}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/bounties/{bountyId}/rewards":{"get":{"tags":["bounty"],"summary":"List a bounty's rewards.","operationId":"listBountyRewards","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"bountyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BountyReward"}}}}}}},"post":{"tags":["bounty"],"summary":"Compute a bounty's rewards.","operationId":"computeBountyRewards","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"bountyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BountyReward"}}}}}}},"delete":{"tags":["bounty"],"summary":"Clear a bounty's rewards.","operationId":"clearBountyRewards","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"bountyId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"202":{"description":"Accepted"}}},"x-service-id":"competition-service"},"/v1/competitions/{competitionIdentifier}/admin/predictions/compute":{"post":{"tags":["zzz-admin"],"summary":"Compute predictions.","operationId":"compute","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredictionComputeAdminForm"}}},"required":true},"responses":{"200":{"description":"OK"}}},"x-service-id":"competition-service"},"/v1/certificates":{"post":{"tags":["certificate"],"summary":"Create a certificate.","operationId":"createCertificate","parameters":[{"name":"uuid","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}},{"name":"competitionId","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"integer","format":"int64"}},{"name":"date","in":"query","required":true,"style":"form","explode":true,"schema":{"type":"string","format":"date"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"loginPngFile":{"type":"file"},"loginPdfFile":{"type":"file"},"firstLastPngFile":{"type":"file"},"firstLastPdfFile":{"type":"file"}},"required":["firstLastPdfFile","firstLastPngFile","loginPdfFile","loginPngFile"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Certificate"}}}}}},"x-service-id":"competition-service"},"/v1/calendar/events":{"get":{"tags":["calendar"],"summary":"List a calendar events.","operationId":"listCalendarEvents","parameters":[{"name":"start","in":"query","description":"Filter events that start after a date.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Filter events that start after a date."}},{"name":"end","in":"query","description":"Filter events that end before a date.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"date","description":"Filter events that end before a date."}},{"name":"sort","in":"query","description":"Sort events.","required":false,"style":"form","explode":true,"schema":{"type":"string","description":"Sort events.","enum":["RECENT","LATEST"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"style":"form","explode":true,"schema":{"type":"integer","default":20,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageCalendarEvent"}}}}}},"post":{"tags":["calendar"],"summary":"Create a calendar event.","operationId":"createCalendarEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarEventCreateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalendarEvent"}}}}}},"x-service-id":"competition-service"},"/admin/runs/{runId}/logs/archive":{"post":{"tags":["zzz-admin"],"summary":"Archive a run's logs.","operationId":"archiveLogs","parameters":[{"name":"runId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/admin/runs/try-map-lost-logs":{"post":{"tags":["zzz-admin"],"summary":"Try to map lost logs to their original runs.","operationId":"tryMapLostLogs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TryMapLostLogsForm"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/admin/runs/archive-old-runs":{"post":{"tags":["zzz-admin"],"summary":"Archive old runs.","operationId":"archiveOldRuns","responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/admin/out-of-sample/selections/freeze":{"post":{"tags":["zzz-admin"],"summary":"Freeze project parameters selection.","operationId":"adminFreezeOutOfSampleSelections","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutOfSampleProjectFreezeForm"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/admin/out-of-sample/runs":{"post":{"tags":["zzz-admin"],"summary":"Create all runs.","operationId":"adminCreateAllOutOfSampleRuns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutOfSampleRunCreateForm"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v3/competitions/{competitionIdentifier}/projects/{userLogin}/{projectIdentifier}":{"get":{"tags":["project"],"summary":"Show a project.","operationId":"showProjectV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"patch":{"tags":["project"],"summary":"Update a project.","operationId":"updateProjectV3","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"userLogin","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"projectIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdateForm"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"x-service-id":"competition-service"},"/v2/competitions/{competitionIdentifier}/timeline/events/{eventId}":{"get":{"tags":["timeline"],"summary":"Show a timeline event.","operationId":"getCompetitionTimelineEvent","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"eventId","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimelineEvent"}}}}}},"delete":{"tags":["timeline"],"summary":"Delete a timeline event.","operationId":"deleteCompetitionTimelineEvent","parameters":[{"name":"competitionIdentifier","in":"path","required":true,"style":
[...]
